.email {
    background-color: white
    
}
.name {
    background-color: white
}

.pw {
    background-color: white
}

.pwd {
    background-color: white
}

.q {
    background-color: white
    width 20px;
    padding: auto;
    margin-left: 5px;
}

.w {
    background-color: white

}

.via {
    margin-left: 160px;
}

.bia{

}
