*{
    box-sizing: border-box;
    margin: 0px;
    
}

html{
    background : linear-gradient(to bottom right, rgb(173, 146, 146), rgb(216, 216, 160));

}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.open{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    font-size : 40px;
}
.Int{
    color: rgb(138, 138, 138);
    font-weight : 500;
    border-radius: 50px;
    margin-left: 20px;
    width: 225px;
    text-align: center;   
}

.img{
    width: 100px;
    /* 원하는 너비 */
    height: auto;
    /* 높이를 자동으로 조절하여 가로세율 비율 유지 */
}

/* imgs 는 겉 감싼 div 라서 정렬됨 */
  .imgs {
    display: flex;
    justify-content: center;
    /* 가로 중앙 정렬 */
    align-items: center;
    /* 세로 중앙 정렬 */
    margin-bottom: 20px;
    margin-top: 20px;

   }

.btn {
    margin-top: 20px;
    padding: 10px;
    /* 버튼 내부 패딩(여백)  */
    width: 80px;
    /* 너비  */
    height: 35px;
    /* 높이 */
    border-radius: 50px;
    /* 동그랗게 겉 부분  */
    font-size: 13px;
    font-weight: bold;
     /* 텍스트 굵게 */
    color: rgb(39, 37, 42)

}

.buttons{
    margin-left: 170px;
    justify-content: center;
    /* margin: auto; */
    /* 가로 방향으로 가운데 정렬을 위해 왼쪽 및 오른쪽 마진 auto */
    margin-bottom: 30px;
}


.to {
    border-radius: 50px;
    /* 라인을 동그랗게 만드는 것 */
    padding: 5px;
    /* 요소의 내부 공간 */
    height: 38px;
    justify-content: center;
    width: 250px;
    /* 요소의 가로 넓이  */
    text-align: center;
}

th {
     line-height: 50px;
     font-size: 15px;
     text-align: left;



}
.op {
    margin-left: 38px;
    padding-inline: 130px;
    padding-block: 2px;
    border-radius: 50px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.form{
    justify-content: center;

}

.gen{
    padding: 5px;
    display: flex;
    justify-content: center;
    /* display: flex;: 이 속성은 Flexbox 레이아웃을 활성화함
    요소와 그 자식 요소들을 가로로 정렬할 수 있도록 함
    Flexbox는 요소 간의 유연한 레이아웃을 생성하는 데 사용

    justify-content: center;: 이 속성은 부모 요소 내에서 자식
    요소들을 가로로 가운데 정렬 즉, 자식 요소들이 부모 요소의 
    가로 중앙에 위치 center 값은 가로 정렬을 가운데로 
    설정하는데 사용

    이 코드를 사용하면 Flexbox를 활용하여 요소와 
    그 자식 요소들을 가로로 가운데에 정렬할 수 있음 */
}