
.new {
    color: rgb(66, 66, 66);
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.nav {
    justify-content: center;
    background : linear-gradient(to bottom right, rgb(54, 67, 184), rgb(98, 30, 181));
    margin-bottom: 20px;
}

.container-fluid {
    background : linear-gradient(to bottom right, rgb(54, 67, 184), rgb(98, 30, 181));
    
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
    /* 폰드 두껍게 */
    color: antiquewhite;
}

.pagination {
    justify-content: center;
    margin-top: 50px;

}

.coa {
    text-align: center;
    font-size: 17px;
}


.form-control{
    justify-content: space-between;
    font-size: 14px;

}

.container {
    display:flex;
    float: left;
    /* 요소가 페이지 또는 부모 요소의 왼쪽 가장자리로 이동 */
 
}


.table {
    background-color: white;
}

.op {
    /* float: left; */
    margin-right: 10px;
    border-radius: 10%;
    font-weight: bold;
    background-color:rgb(45, 49, 49);
    color: white;
    font-size: 13.5px;
}


.yyyy {
    display: flex;
    font-size: 15px;
    color: rgb(75, 74, 74);
    border-radius: 4%;
    float: right;
    border: 2px;
    /* 요소의 경계선을 스타일링 */
    justify-content: right;
    margin-left: 10px;
    font-weight: bold;
}



.col-auto {
    justify-content: space-between;

    /* 플렉스 컨테이너 내의 자식 요소를 메인 축(플렉스 방향)에 
    따라 정렬하는 방법을 설정하는데 사용 
    컨테이너 내의 자식 요소들은 남은 공간을 동등하게 나누어 
    차지하며, 요소들 사이에는 동일한 간격이 유지됨.*/
    margin-left: -8px;
    font-size: 13px; 
    
 }


.money {
    font-weight: bold;
}

.btn {
    color: rgb(255, 255, 255);
    font-weight: bold; 
    margin-left: 20px;
    font-size: 13px;

    
}

.btn:hover {
    background-color: blue;
}


.shop_1 {
    text-align: center;
    font-size: 14px;
}

/* shop 은 따로 hover 안되는지 체크  */

.mon {
    color: brown;
}



.bt_1 {
    border-radius: 8px;
    background-color: rgb(88, 89, 94);
    color: white;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    font-size: 14px;


}

.bt_2 {
    margin-left: 8px;
    margin-right: 20px;
    border-radius: 8px;
    background-color: rgb(88, 89, 94);
    color: white;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    font-size: 14px;
}

.dark_1 {
    font-size: 15px;
    border-radius: 13%;
    height: 25.5px;
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}

.bt_1:hover {
    background-color: blue;
}

.bt_2:hover {
    background-color: blue;
}

.sp {
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: rgb(67, 71, 74);
    
}

.sp:hover{
    color: blue;
}

hr {
    margin-top: 30px;
}


@keyframes blink-effect {
    50% {
      opacity: 0;
    }
  }
  /* .badge {
    animation: blink-effect 1s step-end infinite;
} */
.sho {
    animation: blink-effect 1.5s step-end infinite;
    
}

/* 이미지 애니메이션 효과 blink-effect */

.sns {
    margin-left: 20px;
}

/* .yyyy {
    margin-left: 20px;
    justify-content :right;
    display: flex; */

    /* display: flex 
    -> 레이아웃 속성을 활성화
    자식 요소들은 플렉스 컨테이너 내에서 
    자동으로 배치 및 조정됩
    디스플레이 조정 가능하도록 ! 
    flex 안하면 justify 적용 안 됨 */


    /* 기본 스타일 */
body {
    background : linear-gradient(to bottom right, rgb(165, 174, 255), rgb(249, 244, 255));
/*    
    background-color: white; */
    color: black;
}

.dark-mode {
    background : linear-gradient(to bottom right, rgb(17, 17, 20), rgb(89, 82, 96));
    color: white;
    
}
